<div data-scroll-to-active="true" class="main-menu menu-fixed menu-light menu-accordion menu-shadow">
  <div class="main-menu-content ps-container ps-theme-dark ps-active-y" data-ps-id="a0cf5723-e682-b9c3-b228-6640b1cf55c0" style="height: 753px;">
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
      <ul class="navigation-header">
        <li><a href="/profile"><i style="color:gray" class="ft-edit"></i></a></li>
        <li><div id="avatarHeader" class="text-xs-center">
          <div class="card-block">
            <a href="/profile"><img id="avatar" src="<%= currentAcc.avatar; %>" class="rounded-circle width-100 height-100" alt="Card image"></a>
            <br><br>
            <a href="/profile"><span class="card-subtitle"><%= currentAcc.name; %></span></a>
          </div>
        </div></li>
        <li><%# <i data-toggle="tooltip" data-placement="right" data-original-title="General" class=" ft-minus"></i> %></li>
      </ul>
      <li class="nav-item"><a href="/"><i class="ft-home"></i><span data-i18n="" class="menu-title">Home</span></a>
      </li>
      <li class="nav-item has-sub"><a><i class="ft-sidebar"></i><span data-i18n="" class="menu-title">Dashboard</span><%#<span class="tag tag tag-primary tag-pill float-xs-right mr-2">3</span>%></a>
        <ul class="menu-content">
          <li><a href="/events" class="menu-item"><i class="ft-calendar"></i>Events</span></a>
          </li>
          <li><a href="/jobs" class="menu-item"><i class="ft-clipboard"></i>Jobs</a>
          </li>
          <li><a href="/opportunities" class="menu-item"><i class="ft-briefcase"></i>Opportunities</a>
          </li>
          <li><a href="/orgs" class="menu-item"><i class="ft-users"></i>Orgs</a>
          </li>
          <li><a href="/users" class="menu-item"><i class="ft-user"></i>Users</a>
          </li>
        </ul>
      </li>
      <li class="nav-item"><a href="/notifications"><i class="ft-bell"></i><span data-i18n="" class="menu-title">Notifications</span><span id="nav_noti" class="noti_count tag tag-pill tag-danger float-xs-right mr-2">
            <% if (currentAcc.new_notis) { %>
              <%= currentAcc.new_notis.length %>
            <% }  else { %>
              0
            <% } %>
        </span></a>
      </li>
      <li class="nav-item"><a href="/profile"><i class="ft-user"></i><span data-i18n="" class="menu-title">My profile</span></a>
      </li>
      <li class="nav-item"><a href="/<%= currentAcc.username %>/following"><i class="ft-star"></i><span data-i18n="" class="menu-title">Followed</span></a>
      </li>
      <li class=" navigation-header"><span>More</span>
        <%# <i data-toggle="tooltip" data-placement="right" data-original-title="Apps" class=" ft-minus"></i> %>
      </li>
      <li class=" nav-item"><a href=""><i class="ft-settings"></i><span data-i18n="" class="menu-title">Settings</span></a>
      </li>
      <li class=" nav-item"><a href="/logout"><i class="ft-log-out"></i><span data-i18n="" class="menu-title">Logout</span></a>
      </li>
      <%# <li class="nav-item has-sub"><a href="#"><i class="ft-user"></i><span data-i18n="" class="menu-title">Users</span></a>
        <ul class="menu-content">
          <li><a href="user-profile.html" class="menu-item">Users Profile</a>
          </li>
          <li><a href="user-cards.html" class="menu-item">Users Cards</a>
          </li>
        </ul>
      </li>
      <li class="nav-item has-sub"><a href="#"><i class="ft-alert-triangle"></i><span data-i18n="" class="menu-title">Error</span></a>
        <ul class="menu-content">
          <li><a href="error-400.html" class="menu-item">Error 400</a>
          </li>
          <li><a href="error-401.html" class="menu-item">Error 401</a>
          </li>
          <li><a href="error-403.html" class="menu-item">Error 403</a>
          </li>
          <li><a href="error-404.html" class="menu-item">Error 404</a>
          </li>
          <li><a href="error-500.html" class="menu-item">Error 500</a>
          </li>
        </ul>
      </li> %>
    </ul>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
      <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; height: 753px; right: 3px;">
      <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 328px;"></div>
    </div>
  </div>
</div>
