body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.welcome {
    background-image: url("/images/splash_index_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.welcome p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
}

.welcome h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    color: white;
    width: 50%;
}

#aboutUs {
    color: black;
}

#aboutUs a {
    color: red;
}

.about-icons {
    font-size: 10em;
}

.call-to-action {
    background-image: url("/images/splash_last_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.call-to-action p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
}

.call-to-action h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large
}

.call-to-action h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large
}
