<% extend('../../../defaultLayouts/defaultLayout') %>
<% var months = ["January", "February", "March", "April", "May", "June", "July","August", "September", "October","November", "December"]; %>

<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-xs-12 mb-2">
        <h3 class="content-header-title mb-0">Opportunities</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a>
              </li>
              <li class="breadcrumb-item"><a>Manage</a>
              </li>
              <li class="breadcrumb-item active">My Opportunities
              </li>
            </ol>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="content-body">

<!-- Submit resume, edit job and add jobs button script-->
<div class="row col-xs-12">
  <div role="group" class="btn-group float-md-left" style="margin-left: 25px">
    <% if (account_type == 1 || account_type == 2) {%>
      <button type="button" onclick="location.href='/jobs/create'" class="btn btn-outline-primary"><i class="ft-plus"></i></button>
    <% } %>
  </div>
</div>

<div class='row col-xs-12'><br></div>

<!-- card actions section start -->
<section id="card-actions">
<div class='row'></div>
<%  var OpportunityCounts = 0; %>
<%  Opportunities.forEach(function(job){ %>
  <%  if (OpportunityCounts >= 2) { %>
          <div class='row'></div>
  <%      OpportunityCounts = 0; %>
  <%  } %>
  <%- include('jobCard', { Opportunity: Opportunity, admin: true, months: months}); %>
  <%  jobCounts += 1; %>
<%  }) %>
</section>
<!-- // card-actions section end -->
        </div>
    </div>

<!-- BEGIN CODE DAO SCRIPTS -->
<script>
  function DeleteJob(Id) {
    var confirm = window.confirm("Do you want to delete this Opportunity? This action can not be undone.");
    if (confirm == true)
    {
      //create a form that submits the id of the deleted job:
      var form = document.createElement("form");
      form.method = "POST";
      form.action = "/Opportunitys/delete";

      var input = document.createElement("input");
      input.value = Id;
      input.name = "OpportunityID";
      form.appendChild(input);

      document.body.appendChild(form);
      form.submit();
    }
    else
    {
      //do nothing
      return null;
    }
  }
</script>
<!-- ENDS -->
