<% extend('../defaultLayouts/defaultLayout') %>

<div class="app-content content container-fluid">
	<div class="content-wrapper">
	    <div class="content-body">
            <section id="basic-examples">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Default</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <p class="card-text">This is the most basic example having navigation button to navigate next and previous months and today button. This basic example lists all the events on the calendar.</p>
                                    <div id='fc-default'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- BEGIN CODEDAO SCRIPT -->
<script type="text/javascript">
    let events = <%- JSON.stringify(events) %>;
    let jobs = <%- JSON.stringify(jobs) %>;
    let opportunities = <%- JSON.stringify(opportunities) %>;
    
    let eventsData, jobsData, opportunitiesData = [];

    // TODO: Plug data into calendar
    
    $(document).ready(function () {
        /************************************
        *				Default				*
        ************************************/
        $('#fc-default').fullCalendar({
            defaultDate: '2019-04-04',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {
                    title: 'All Day Event',
                    start: '2019-04-01'
                },
                {
                    title: 'Long Event',
                    start: '2019-04-07',
                    end: '2019-04-15'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2019-04-09T16:00:00'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2019-04-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2019-04-11',
                    end: '2019-04-13'
                },
                {
                    title: 'Meeting',
                    start: '2019-04-12T10:30:00',
                    end: '2019-04-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2019-04-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2019-04-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2019-04-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2019-04-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2019-04-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2019-04-28'
                }
            ]
        });
    });
</script>
<!-- END -->