<% extend('../defaultLayouts/defaultLayout') %>

<div class="app-content content container-fluid">
	<div class="content-wrapper">
	    <div class="content-body">
            <section id="basic-examples">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Default</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <p class="card-text">This is the most basic example having navigation button to navigate next and previous months and today button. This basic example lists all the events on the calendar.</p>
                                    <div id='fc-default'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- BEGIN CODEDAO SCRIPT -->
<script type="text/javascript">
    const events = <%- JSON.stringify(events) %>;
    const jobs = <%- JSON.stringify(jobs) %>;
    const opportunities = <%- JSON.stringify(opportunities) %>;
    
    let eventsData = [], jobsData = [], opportunitiesData = [];

    // TODO: Plug data into calendar
    events.forEach(event => {
        let data = {
            title: event.name,
            start: event.reg_deadline ? event.reg_deadline : event.start_date
        };
        eventsData.push(data);
    });

    jobs.forEach(job => {
        let data = {
            title: job.name,
            start: job.app_deadline
        };
        jobsData.push(data);
    });

    opportunities.forEach(opportunity => {
        let data = {
            title: opportunity.name,
            start: opportunity.app_deadline ? opportunity.app_deadline : opportunity.start_date
        };
        opportunitiesData.push(data);
    });

    const calendarData = eventsData.concat(jobsData, opportunitiesData);
    
    $(document).ready(function () {
        /************************************
        *				Default				*
        ************************************/
        $('#fc-default').fullCalendar({
            defaultDate: '2019-04-04',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: calendarData
        });
    });
</script>
<!-- END -->