<% extend('../defaultLayouts/authLayout'); %>

<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="flexbox-container">
        <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
          <div class="card border-grey border-lighten-3 m-0">
            <div class="card-header no-border">
              <div class="card-title text-xs-center">
                <div class="p-1">
                  <img  class="img-responsive" width="45px" height="80px" src="images/logo.png" alt="branding logo">
                  <img  class="img-responsive" width="265px" height="80px" src="images/appname.png" alt="branding logo">
                </div>
              </div>
              <h6 class="card-subtitle line-on-side text-muted text-xs-center font-medium-4 pt-2"><span><strong>LOGIN</strong></span></h6>
            </div>
            <div class="card-body collapse in">
              <% if(message != '') { %>
                <div style="margin-left: 20px; margin-right: 20px" class="alert alert-danger text-center"><%= message %></div>
              <% } %>
              <div class="card-block">
                  <form class="form-horizontal form-simple" action="/login" method="POST">
                    <fieldset class="form-group position-relative has-icon-left mb-0">
                      <input type="text" class="form-control form-control-lg input-lg" id="user-name" name="username" placeholder="Your Username" required>
                      <div class="form-control-position">
                        <i class="ft-user"></i>
                      </div>
                    </fieldset>
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="password" class="form-control form-control-lg input-lg" id="user-password" name="password" placeholder="Enter Password" required>
                      <div class="form-control-position">
                        <i class="fa fa-key"></i>
                      </div>
                    </fieldset>
                    <br>
                    <fieldset class="form-group row">
                      <div class="col-md-6 col-xs-12 text-xs-center text-md-left">
                        <fieldset>
                          <input type="checkbox" id="remember-me" class="chk-remember">
                          <label class="font-medium-2" for="remember-me"> Remember Me</label>
                        </fieldset>
                      </div>
                      <div class="col-md-6 col-xs-12 text-xs-center text-md-right"><a style="color: #2489C5" href="recover-password.html" class="card-link font-medium-2">Forgot Password?</a></div>
                    </fieldset>
                    <button style="background-color: #404E67; color: white" type="submit" class="btn btn-lg btn-block"><i class="ft-unlock"></i> Login</button>
                  </form>
              </div>
            </div>
            <div class="card-footer">
              <div class="">
                <p class="text-xs-center m-0">New here? <a style="color: #2489C5" href="/register" class="card-link font-medium-2">Sign Up</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
