<% extend('../defaultLayouts/authLayout'); %>
<script src="../../../app-assets/js/scripts/forms/form-login-register.js" type="text/javascript"></script>

<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="flexbox-container">
        <div class="col-md-4 offset-md-1 col-xs-10 offset-xs-1 box-shadow-2 p-0">
          <div class="card border-grey border-lighten-3 m-0">
            <div class="card-header no-border pb-0">
              <div class="card-title text-xs-center">
                <a href="/"><img class="img-responsive" height="100" width="100" src="images/logo.png"
                    alt="branding logo"></a>
                <br>
                <h2>Chance<strong>Map</strong></h2>
              </div>
              <h6 class="card-subtitle line-on-side text-muted text-xs-center font-medium-1 pt-2"><span>Sign Up</span>
              </h6>
            </div>
            <div class="card-body collapse in">
              <!-- <div class="text-xs-center">
                    <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-twitter"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-linkedin"><span class="fa fa-linkedin font-medium-4"></span></a>
                    <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-github"><span class="fa fa-github font-medium-4"></span></a>
                </div> -->
              <!-- <p class="card-subtitle line-on-side text-muted text-xs-center font-small-3 mx-2 my-1"><span>Sign Up</span></p> -->
              <% if(message != '') { %>
              <div style="margin-left: 20px; margin-right: 20px" class="alert alert-danger text-center"><%= message %>
              </div>
              <% } %>
              <div class="card-block">
                <form class="form-horizontal" action="/register" method="POST">
                  <fieldset class="form-group position-relative">
                    <!-- <label class="display-inline-block custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Unchecked custom checkbox</span>
                            </label> -->
                    <p>(*) Choose your account type:</p>
                    <label class="display-inline-block custom-control custom-checkbox">
                      <input type="checkbox" id="checkbox2" name="user_acc" checked="" class="custom-control-input"
                        value="true">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">User account</span>
                    </label>
                    <label class="display-inline-block custom-control custom-checkbox">
                      <input type="checkbox" id="checkbox3" name="org_acc" class="custom-control-input" value="true">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Org account</span>
                    </label>
                  </fieldset>

                  <fieldset class="form-group position-relative has-icon-left">
                    <input type="text" class="form-control" id="user-name" name="username"
                      placeholder="Username (Ex: johndoe123)">
                    <div class="form-control-position">
                      <i class="ft-user"></i>
                    </div>
                  </fieldset>
                  <fieldset class="form-group position-relative has-icon-left">
                    <input type="email" class="form-control" id="user-email" name="email" placeholder="Email" required>
                    <div class="form-control-position">
                      <i class="ft-mail"></i>
                    </div>
                  </fieldset>
                  <fieldset class="form-group position-relative has-icon-left">
                    <input type="password" class="form-control" id="user-password" name="password"
                      placeholder="Enter Password" required>
                    <div class="form-control-position">
                      <i class="fa fa-key"></i>
                    </div>
                  </fieldset>
                  <fieldset class="form-group position-relative has-icon-left">
                    <input type="password" class="form-control" id="re-password" name="re_password"
                      placeholder="Re-enter Password" required>
                    <div class="form-control-position">
                      <i class="fa fa-key"></i>
                    </div>
                  </fieldset>

                  <!-- <fieldset class="form-group row">
                            <div class="col-md-6 col-xs-12 text-xs-center text-sm-left">
                                <fieldset>
                                    <input type="checkbox" id="remember-me" class="chk-remember">
                                    <label for="remember-me"> Remember Me</label>
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-xs-12 float-sm-left text-xs-center text-sm-right"><a href="recover-password.html" class="card-link">Forgot Password?</a></div>
                        </fieldset> -->
                  <br>
                  <button type="submit" class="btn btn-outline-danger btn-block"><i class="ft-user"></i>
                    Register</button>
                </form>
              </div>
              <div class="card-block">
                <p>Already have an account?</p>
                <a href="/login" class="btn btn-outline-secondary btn-block"><i class="ft-unlock"></i> Login</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 text-xs-center">
          <p style="color: white; font-size: 300%; font-family: 'Josefin Sans'; margin-bottom: 0"><strong>OR</strong></p>
        </div>
        <div class="col-md-4 col-xs 10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 m-0">
              <div class="card-header no-border pb-0">
                <div class="card-title text-xs-center">
                  <!-- <a href="/"><img class="img-responsive" height="100" width="100" src="images/logo.png"
                      alt="branding logo"></a>
                  <br>
                  <h2>Chance<strong>Map</strong></h2> -->
                </div>
                <!-- <h6 class="card-subtitle line-on-side text-muted text-xs-center font-medium-1 pt-2"><span>Sign Up</span>
                </h6> -->
              </div>
              <div class="card-body collapse in">
                <div class="card-block text-xs-center">
                  <h5><strong>BROWSE THROUGH OUR DATABASES</strong></h5>
                  <h6>Find comprehensive info on npos, events, jobs, and more</h6>
                </div>
                <h6 class="line-on-side text-xs-center text-muted"><span>Jump in</span></h6>
                <div class="card-block text-xs-center">
                  <p>Sign in as a <a style="color: #2489C5" class="card-link font-medium-2" id="guest">GUEST</a></p>
                  <p>Sign up for us to match you with what you need</p>
                </div>
              </div>
            </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- BEGIN CODEDAO SCRIPT -->
<script src="/scripts/register.js" type="text/javascript"></script>
<script>
    $('#guest').on('click', function(){

      let formData = new FormData();
      formData.set("username", "Guest");
      formData.set("password", "guestuserpass");

      console.log("formData");

      $.ajax({
        async: true,
        url: '/login',
        method: 'POST',
        processData: false,
        contentType: false,
        data: formData,
        beforeSend: (req) => {
          $.blockUI({
            message: '<h1 style="margin-top: 0.5rem; margin-bottom: 0.5rem;">Just a moment...</h1>',
            css: {
              padding: 0,
              margin: 0,
              width: "20%",
              top: "40%",
              left: "40%",
              textAlign: 'center',
              color: 'rgb(0, 0, 0)',
              border: 'none',
              backgroundColor: 'rgb(255, 255, 255)',
              cursor: 'wait'
            }
          });
        },
        success: (data) => {
          window.location.href = "/";
          $.unblockUI();
        }
      });
    });
</script>
<!-- END -->