<% extend('../defaultLayouts/authLayout'); %>

<div class="app-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="flexbox-container">
        <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
          <div class="card border-grey border-lighten-3 m-0">
            <div class="card-header no-border">
              <div class="card-title text-xs-center">
                <div class="p-1">
                  <img  class="img-responsive" height="100" width="100" src="images/logo.png" alt="branding logo">
                  <br>
                  <h2>Chance<strong>Map</strong></h2>
                </div>
              </div>
              <h6 class="card-subtitle line-on-side text-muted text-xs-center font-medium-1 pt-2"><span>RESET PASSWORD</span></h6>
              <br>
              <p class="m-0">Resetting your password will sign you out of Chancemap. You will need to enter your new password to login.</p>
              <br>
              <p class="m-0">Enter your new password.</p>
            </div>
            <div class="card-body collapse in">
              <% if(message != '') { %>
                <div style="margin-left: 20px; margin-right: 20px" class="alert alert-danger text-center"><%= message %></div>
              <% } %>
              <div class="card-block">
                  <form class="form-horizontal form-simple" action="<%='/reset/' + token %>" + token method="POST">
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="password" class="form-control" id="user-password" name="password" placeholder="New password" required>
                      <div class="form-control-position">
                        <i class="fa fa-key"></i>
                      </div>
                    </fieldset>
                    <fieldset class="form-group position-relative has-icon-left">
                      <input type="password" class="form-control" id="re-password" name="confirm" placeholder="Re-enter new password" required>
                      <div class="form-control-position">
                        <i class="fa fa-key"></i>
                      </div>
                    </fieldset>
                    <br>
                    <fieldset class="form-group row">
                      <div class="col-md-6 col-xs-12 text-xs-center text-md-left"><style="color: #2489C5" href="/login" class="card-link font-medium-2">Back To Login</a></div>
                    </fieldset>
                    <button id="btnSubmit" style="background-color: #404E67; color: white" class="btn btn-lg btn-block"><i></i>Reset Password</button>
                    <input type="submit" id="submitBtn" style="display: none">
                  </form>
              </div>
            </div>
            <div class="card-footer">
              <div class="">
                <p class="text-xs-center m-0">New here? <a style="color: #2489C5" href="/register" class="card-link font-medium-2">Sign Up</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- BEGIN CHANCEMAP SCRIPT -->
<script>
  $('#btnSubmit').on('click', function() {
    if($('#user-name').val() && $('#user-password').val()) {
      document.getElementById('btnSubmit').disabled = true;
    }

    $("#submitBtn").trigger('click');
  });
</script>
