<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ChanceMap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.ico"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/splash.css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<section class="slide-wrapper">
    <div class="container">
        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="First fill">
                        <div class="big-logo">
                            <p>
                                Chance<span id="map">Map</span>
                            </p>
                            <h3>
                                Find your chances
                                <br>
                                Discover what you love to do
                            </h3>
                        </div>
                        <div class="buttonOne_getStarted">
                            <button onclick="location.href='/register'" class="buttonOne">
                                Get Started
                            </button>
                        </div>
                        <div class="buttonTwo_logIn">
                            <button onclick="location.href='/login'" class="buttonTwo">
                                Log In
                            </button>
                        </div>
                        <div onclick="$('#myCarousel').carousel(1);" class="footer">
                            <p style="padding-top: 10px">Explore ChanceMap</p>
                        </div>
                    </div>
                </div>
                <!-- What is ChanceMap? -->
                <div class="item">
                    <div class="Fourth fill">
                        <div class="navTop">
                            <a href="/login" class="logIn">Log In</a>
                            <a href="/register" class="signUp">Sign Up</a>
                        </div>
                        <div class="small-logo">
                            <a><img src="/images/w_logo.png"></a>
                        </div>
                        <div style="margin-top: 13%; margin-right: 30px; margin-left: 30px;" class="content3">
                            <h2>It looks familiar... but not really</h2>
                            <h3>ChanceMap is the LinkedIn, Facebook, Tumblr... (you name it) of extracurricular activites!</h3>
                        </div>
                    </div>
                </div>
                <!-- How it works -->
                <div class="item">
                    <div class="Third fill">
                        <div class="navTop">
                            <a href="/login" class="logIn">Log In</a>
                            <a href="/register" class="signUp">Sign Up</a>
                        </div>
                        <div class="icon">
                            <a><img src="/images/func_bg.png" alt="logo"></a>
                        </div>
                        <div class="content2">
                            <h1>
                                Just type in <strong>#tags</strong> of what you're interested in
                            </h1>
                            <h3>                
                                And let us do the mapping with the most suitable students, events and jobs from organizations around you!
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Our sponsor -->
                <div class="item">
                    <div class="Second fill">
                        <div class="navTop">
                            <a href="/login" class="logIn">Log In</a>
                            <a href="/register" class="signUp">Sign Up</a>
                        </div>
                        <div class="content1">
                            <div>
                                <h1>
                                    A Map of Chances
                                </h1>
                            </div>
                            <h3>We made it much simpler to search for extracurriculars</h3>
                            <p>
                                A lot of Vietnamese students lack access to information regarding ECs they are <strong>truly interested in</strong>, making it considerably harder for them to embark into the EC community. With our platform, students can get access to the kinds of ECs they want to do and the causes they want to serve. 
                                <br>
                                With 10+ student-run organizations from Saigon, the ChanceMap community is more than ever diverse.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 2nd Login Page (same as 1st, maybe different background) -->
                <div class="item">
                    <div class="Fifth fill">
                        <div class="navTop">
                            <a href="/login" class="logIn">Log In</a>
                            <a href="/register" class="signUp">Sign up</a>
                        </div>
                        <div class="content4">
                            <h1>Now you have the map</h1>
                            <h3>Will you take the chance?</h3>
                        </div>
                        <div class="buttonOne_getStarted">
                            <button onclick="location.href='/register'" class="buttonOne">
                                Get Started
                            </button>
                        </div>
                        <div class="buttonTwo_logIn">
                            <button onclick="location.href='/login'" class="buttonTwo">
                                Log In
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
<script type="text/javascript">
  $(document).ready(function(){
  // invoke the carousel
      $('#myCarousel').carousel({
        interval: false
      });

  // scroll slides on mouse scroll 
  $('#myCarousel').bind('mousewheel DOMMouseScroll', function(e){

          if(e.originalEvent.wheelDelta > 0 || e.originalEvent.detail < 0) {
              $(this).carousel('prev');
          }
          else{
              $(this).carousel('next');
        
          }
    });

  //scroll slides on swipe for touch enabled devices 

    $("#myCarousel").on("touchstart", function(event){
   
          var yClick = event.originalEvent.touches[0].pageY;
        $(this).one("touchmove", function(event){

          var yMove = event.originalEvent.touches[0].pageY;
          if( Math.floor(yClick - yMove) > 1 ){
              $(".carousel").carousel('next');
          }
          else if( Math.floor(yClick - yMove) < -1 ){
              $(".carousel").carousel('prev');
          }
      });
      $(".carousel").on("touchend", function(){
              $(this).off("touchmove");
      });
  });
      
  });
</script>
</body>
</html>