<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ChanceMap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.ico"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/splash.css"/>
    <link rel="stylesheet" type="text/css" href="../../../app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<section class="slide-wrapper">
    <div class="container">
        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div id="particles-js" class="item active">
                    <div class="First fill">
                        <div class="big-logo">
                            <p>
                                <img width="120px" height="120px" src="/images/w_logo.png" alt="logo"></img>
                                ChanceMap
                            </p>
                            <h3>
                                Find your chances
                                <br>
                                Discover what you love to do
                            </h3>
                        </div>
                        <div class="buttonOne_getStarted">
                            <button onclick="location.href='/register'" class="buttonOne">
                                Get Started
                            </button>
                        </div>
                        <div class="buttonTwo_logIn">
                            <button onclick="location.href='/login'" class="buttonTwo">
                                Log In
                            </button>
                        </div>
                    </div>
                    <div onclick="$('#myCarousel').carousel(1);" class="footer">
                            <p style="padding-top: 10px">Explore ChanceMap</p>
                    </div>
                </div>
                <!-- What is ChanceMap? -->
                <div class="item">
                    <div class="Fourth fill">
                        <div class="navTop">
                            <a href="/login" class="logIn">Log In</a>
                            <a href="/register" class="signUp">Sign Up</a>
                        </div>
                        <div style="margin-top: 34%; margin-right: 30px; margin-left: 30px;" class="content3">
                            <h2>It looks familiar... but not really</h2>
                            <h3>ChanceMap is the LinkedIn, Facebook, Tumblr... (you name it) of extracurricular activites!</h3>
                        </div>
                    </div>
                </div>
                <!-- How it works -->
                <div class="item">
                    <div class="Third fill">
                        <div class="navTop">
                            <a href="/login" class="logIn">Log In</a>
                            <a href="/register" class="signUp">Sign Up</a>
                        </div>
                        <div class="icon">
                            <a><img src="/images/func_bg.png" alt="logo"></a>
                        </div>
                        <div class="content2">
                            <h2>
                                Just type in <strong>#tags</strong> of what you're interested in
                            </h2>
                            <h3>                
                                And let us do the mapping with the most suitable students, events and jobs from organizations around you!
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Our sponsor -->
                <div class="item">
                    <div class="Second fill">
                        <div class="navTop">
                            <a href="/login" class="logIn">Log In</a>
                            <a href="/register" class="signUp">Sign Up</a>
                        </div>
                        <div class="content1">
                            <div>
                                <h1>
                                    A Map of Chances
                                </h1>
                            </div>
                            <h4>We made it much simpler to search for extracurriculars</h4>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3><i class="ft-search"></i> What we are trying to solve</h3>
                                        <p>Many Vietnamese students lack access to information regarding extracurricular activities they are truly interested in, making it considerably harder for them to get involved with their local community. With our platform, students can get access to the kinds of activities they want to do and the causes they want to serve.</p>
                                    </div>
                                    <div class="col-md-4">
                                        <h3><i class="ft-bar-chart"></i> Our mission</h3>
                                        <p>
                                            ChanceMap is founded to foster an inclusive platform where information on extracurricular and academic opportunities is easily attainable within a few clicks of a button. We aim to promote Vietnamese students’ awareness of youths’ social responsibility, and most importantly, a sharing and cooperative spirit in their endeavors to bring about positive social impacts through extracurricular activities they are passionate about. 
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <h3><i class="ft-settings"></i> How we do it</h3>
                                        <p>
                                            We collect your interests, skills,... in '#'s and generate suggestions that match those inputs.
                                            <br>
                                            By collaborating with various student-run organizations and NPOs/NGOs in Ho Chi Minh city, ChanceMap is more than ever diverse for you to explore new opportunities around you.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2nd Login Page (same as 1st, maybe different background) -->
                <div class="item">
                    <div class="Fifth fill">
                        <div class="navTop">
                            <a href="/login" class="logIn">Log In</a>
                            <a href="/register" class="signUp">Sign up</a>
                        </div>
                        <div class="content4">
                            <h1>Now you have the map</h1>
                            <h3>Will you take the chance?</h3>
                        </div>
                        <div class="buttonOne_getStarted">
                            <button onclick="location.href='/register'" class="buttonOne">
                                Get Started
                            </button>
                        </div>
                        <div class="buttonTwo_logIn">
                            <button onclick="location.href='/login'" class="buttonTwo">
                                Log In
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
<!-- ParticlesJS -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
    particlesJS.load('particles-js', '/particlesjs-config/particles-links.json', function() {
        console.log('loaded particles!');
    });
</script>
<!-- Carousel navigation script -->
<script type="text/javascript">
  $(document).ready(function(){
    if( !($('.navTop').css('display') == 'none') ) {
         // invoke the carousel
          $('#myCarousel').carousel({
            interval: false
          });

          // scroll slides on mouse scroll 
          $('#myCarousel').bind('mousewheel DOMMouseScroll', function(e){

                  if(e.originalEvent.wheelDelta > 0 || e.originalEvent.detail < 0) {
                      $(this).carousel('prev');
                  }
                  else{
                      $(this).carousel('next');
                
                  }
            });

          //scroll slides on swipe for touch enabled devices 

            $("#myCarousel").on("touchstart", function(event){
           
                  var yClick = event.originalEvent.touches[0].pageY;
                $(this).one("touchmove", function(event){

                  var yMove = event.originalEvent.touches[0].pageY;
                  if( Math.floor(yClick - yMove) > 1 ){
                      $(".carousel").carousel('next');
                  }
                  else if( Math.floor(yClick - yMove) < -1 ){
                      $(".carousel").carousel('prev');
                  }
              });
              $(".carousel").on("touchend", function(){
                      $(this).off("touchmove");
              });
          });
    } 
  });
</script>
</body>
</html>