<% extend('../../../defaultLayouts/defaultLayout.ejs'); %>
<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Stack admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Full Calendar Basic - Stack Responsive Bootstrap 4 Admin Template</title>
    <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/fonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/extensions/pace.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/calendars/fullcalendar.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN STACK CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
    <!-- END STACK CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-overlay-menu.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/plugins/calendars/fullcalendar.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <!-- END Custom CSS-->
  </head>
  <body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar">

<div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-6 col-xs-12 mb-2">
            <h3 class="content-header-title mb-0">View Event</h3>
            <div class="row breadcrumbs-top">
              <div class="breadcrumb-wrapper col-xs-12">
              </div>
            </div>
          </div>
        </div>
        <div class="content-body">

<!-- Full calendar basic example section start -->
<section id="events-examples">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements"></div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <div id="fc-bg-events" class="fc fc-unthemed fc-ltr">           
                            <div class="fc-toolbar"><div class="fc-left">
                                <div class="fc-button-group">
                                    <button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left"><span class="fc-icon fc-icon-left-single-arrow"></span></button>
                                    <button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right"><span class="fc-icon fc-icon-right-single-arrow"></span></button>
                                </div>
                            </div>

                            <div class="fc-right">
                                <div class="fc-button-group">
                                    <button type="button" class="fc-month-button fc-button fc-state-default has-sub">year</button>
                                    <button type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-right">month</button>
                                </div>
                            </div>   
                            <div class="fc-center card-block">
                                <h2>June 2018</h2>
                            </div>
                            <div class="fc-clear"></div>
                            <div class="fc-view-container" style="">
                                <div class="fc-view fc-month-view fc-basic-view" style="">
                                    <table>
                                        <thead class="fc-head">
                                            <tr>
                                                <td class="fc-head-container fc-widget-header">
                                                    <div class="fc-row fc-widget-header">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th class="fc-day-header fc-widget-header fc-sun">Sun</th>
                                                                    <th class="fc-day-header fc-widget-header fc-mon">Mon</th>
                                                                    <th class="fc-day-header fc-widget-header fc-tue">Tue</th>
                                                                    <th class="fc-day-header fc-widget-header fc-wed">Wed</th>
                                                                    <th class="fc-day-header fc-widget-header fc-thu">Thu</th>
                                                                    <th class="fc-day-header fc-widget-header fc-fri">Fri</th>
                                                                    <th class="fc-day-header fc-widget-header fc-sat">Sat</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody class="fc-body">
                                            <tr>
                                                <td class="fc-widget-content">
                                                    <div class="fc-day-grid-container" style="overflow-x: hidden; height: 365px">
                                                        <div class="fc-day-grid fc-unselectable">
                                                            <div class="fc-row fc-week fc-widget-content" style="">
                                                                <div class="fc-bg">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2016-05-29"></td>
                                                                                <td class="fc-day fc-widget-content fc-mon fc-other-month fc-past" data-date="2016-05-30"></td>
                                                                                <td class="fc-day fc-widget-content fc-tue fc-other-month fc-past" data-date="2016-05-31"></td>
                                                                                <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-06-01"></td>
                                                                                <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-06-02"></td>
                                                                                <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2016-06-03"></td>
                                                                                <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2016-06-04"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="fc-content-skeleton">
                                                                    <table>
                                                                        <thead>
                                                                            <tr>
                                                                                <td class="fc-day-number fc-sun fc-other-month fc-past" data-date="2016-05-29">29</td>
                                                                                <td class="fc-day-number fc-mon fc-other-month fc-past" data-date="2016-05-30">30</td>
                                                                                <td class="fc-day-number fc-tue fc-other-month fc-past" data-date="2016-05-31">31</td>
                                                                                <td class="fc-day-number fc-wed fc-past" data-date="2016-06-01">1</td>
                                                                                <td class="fc-day-number fc-thu fc-past" data-date="2016-06-02">2</td>
                                                                                <td class="fc-day-number fc-fri fc-past" data-date="2016-06-03">3</td>
                                                                                <td class="fc-day-number fc-sat fc-past" data-date="2016-06-04">4</td>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td><td></td><td></td><td></td><td></td>
                                                                                <td class="fc-event-container">
                                                                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                                        <div class="fc-content">
                                                                                            <span class="fc-title">Business Lunch</span>
                                                                                        </div>
                                                                                    </a>
                                                                                </td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="fc-bgevent-skeleton">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="fc-nonbusiness fc-bgevent" colspan="1"></td>
                                                                                <td colspan="6"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="fc-bgevent-skeleton">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td colspan="6"></td>
                                                                                <td class="fc-nonbusiness fc-bgevent" colspan="1"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="fc-row fc-week fc-widget-content" style="">
                                                                <div class="fc-bg">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2016-06-05"></td>
                                                                                <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2016-06-06"></td>
                                                                                <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2016-06-07"></td>
                                                                                <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-06-08"></td>
                                                                                <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-06-09"></td>
                                                                                <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2016-06-10"></td>
                                                                                <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2016-06-11"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="fc-content-skeleton">
                                                                    <table>
                                                                        <thead>
                                                                            <tr>
                                                                                <td class="fc-day-number fc-sun fc-past" data-date="2016-06-05">5</td>
                                                                                <td class="fc-day-number fc-mon fc-past" data-date="2016-06-06">6</td>
                                                                                <td class="fc-day-number fc-tue fc-past" data-date="2016-06-07">7</td>
                                                                                <td class="fc-day-number fc-wed fc-past" data-date="2016-06-08">8</td>
                                                                                <td class="fc-day-number fc-thu fc-past" data-date="2016-06-09">9</td>
                                                                                <td class="fc-day-number fc-fri fc-past" data-date="2016-06-10">10</td>
                                                                                <td class="fc-day-number fc-sat fc-past" data-date="2016-06-11">11</td>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="fc-bgevent-skeleton">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>    
                                                                                <td class="fc-nonbusiness fc-bgevent" colspan="1"></td>
                                                                                <td colspan="6"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="fc-bgevent-skeleton">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td colspan="6"></td>
                                                                                <td class="fc-nonbusiness fc-bgevent" colspan="1"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="fc-bgevent-skeleton">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td colspan="1"></td>
                                                                                <td class="fc-bgevent" style="background-color:#DA4453" colspan="2"></td>
                                                                                <td colspan="4"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="fc-row fc-week fc-widget-content" style="">
                                                                <div class="fc-bg">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2016-06-12"></td>
                                                                                <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2016-06-13"></td>
                                                                                <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2016-06-14"></td>
                                                                                <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-06-15"></td>
                                                                                <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-06-16"></td>
                                                                                <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2016-06-17"></td>
                                                                                <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2016-06-18"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="fc-content-skeleton">
                                                                    <table>
                                                                        <thead>
                                                                            <tr>    
                                                                                <td class="fc-day-number fc-sun fc-past" data-date="2016-06-12">12</td>
                                                                                <td class="fc-day-number fc-mon fc-past" data-date="2016-06-13">13</td>
                                                                                <td class="fc-day-number fc-tue fc-past" data-date="2016-06-14">14</td>
                                                                                <td class="fc-day-number fc-wed fc-past" data-date="2016-06-15">15</td>
                                                                                <td class="fc-day-number fc-thu fc-past" data-date="2016-06-16">16</td>
                                                                                <td class="fc-day-number fc-fri fc-past" data-date="2016-06-17">17</td>
                                                                                <td class="fc-day-number fc-sat fc-past" data-date="2016-06-18">18</td>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td class="fc-event-container">
                                                                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#257e4a;border-color:#257e4a">
                                                                                        <div class="fc-content">
                                                                                            <span class="fc-title">Meeting</span>
                                                                                        </div>
                                                                                    </a>
                                                                                </td><td></td><td></td><td></td><td></td>
                                                                                <td class="fc-event-container">
                                                                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                                        <div class="fc-content"> 
                                                                                            <span class="fc-title">Conference</span>
                                                                                        </div>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="fc-bgevent-skeleton">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="fc-nonbusiness fc-bgevent" colspan="1"></td>
                                                                                <td colspan="6"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="fc-bgevent-skeleton">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td colspan="6"></td>
                                                                                <td class="fc-nonbusiness fc-bgevent" colspan="1"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="fc-row fc-week fc-widget-content" style="">
                                                                <div class="fc-bg">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2016-06-19"></td>
                                                                                <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2016-06-20"></td>
                                                                                <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2016-06-21"></td>
                                                                                <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-06-22"></td>
                                                                                <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-06-23"></td>
                                                                                <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2016-06-24"></td>
                                                                                <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2016-06-25"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            <div class="fc-content-skeleton">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <td class="fc-day-number fc-sun fc-past" data-date="2016-06-19">19</td>
                                                                            <td class="fc-day-number fc-mon fc-past" data-date="2016-06-20">20</td>
                                                                            <td class="fc-day-number fc-tue fc-past" data-date="2016-06-21">21</td>
                                                                            <td class="fc-day-number fc-wed fc-past" data-date="2016-06-22">22</td>
                                                                            <td class="fc-day-number fc-thu fc-past" data-date="2016-06-23">23</td>
                                                                            <td class="fc-day-number fc-fri fc-past" data-date="2016-06-24">24</td>
                                                                            <td class="fc-day-number fc-sat fc-past" data-date="2016-06-25">25</td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="fc-event-container">
                                                                                <a class="fc-day-grid-event fc-h-event fc-event fc-not-start fc-end fc-draggable fc-resizable">
                                                                                    <div class="fc-content"> 
                                                                                        <span class="fc-title">Conference</span>
                                                                                    </div>
                                                                                    <div class="fc-resizer fc-end-resizer"></div>
                                                                                </a>
                                                                            </td><td></td><td></td><td></td><td></td><td></td><td></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="fc-bgevent-skeleton">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="fc-nonbusiness fc-bgevent" colspan="1"></td>
                                                                            <td colspan="6"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="fc-bgevent-skeleton">
                                                                <table>
                                                                    <tbody> 
                                                                        <tr>    
                                                                            <td colspan="6"></td>
                                                                            <td class="fc-nonbusiness fc-bgevent" colspan="1"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="fc-bgevent-skeleton">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td colspan="5"></td>
                                                                            <td class="fc-bgevent" style="background-color:#DA4453" colspan="2"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="fc-row fc-week fc-widget-content" style="">
                                                            <div class="fc-bg">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2016-06-26"></td>
                                                                            <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2016-06-27"></td>
                                                                            <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2016-06-28"></td>
                                                                            <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-06-29"></td>
                                                                            <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-06-30"></td>
                                                                            <td class="fc-day fc-widget-content fc-fri fc-other-month fc-past" data-date="2016-07-01"></td>
                                                                            <td class="fc-day fc-widget-content fc-sat fc-other-month fc-past" data-date="2016-07-02"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="fc-content-skeleton">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <td class="fc-day-number fc-sun fc-past" data-date="2016-06-26">26</td>
                                                                            <td class="fc-day-number fc-mon fc-past" data-date="2016-06-27">27</td>
                                                                            <td class="fc-day-number fc-tue fc-past" data-date="2016-06-28">28</td>
                                                                            <td class="fc-day-number fc-wed fc-past" data-date="2016-06-29">29</td>
                                                                            <td class="fc-day-number fc-thu fc-past" data-date="2016-06-30">30</td>
                                                                            <td class="fc-day-number fc-fri fc-other-month fc-past" data-date="2016-07-01">1</td>
                                                                            <td class="fc-day-number fc-sat fc-other-month fc-past" data-date="2016-07-02">2</td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr><td></td><td></td><td></td>
                                                                            <td class="fc-event-container">
                                                                                <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                                    <div class="fc-content">
                                                                                        <span class="fc-title">Party</span>
                                                                                    </div>
                                                                                </a>
                                                                            </td><td></td><td></td><td></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="fc-bgevent-skeleton">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="fc-nonbusiness fc-bgevent" colspan="1"></td>
                                                                            <td colspan="6"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="fc-bgevent-skeleton">
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td colspan="6"></td>
                                                                            <td class="fc-nonbusiness fc-bgevent" colspan="1"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Full calendar basic example section end -->


